@charset "utf-8";
@import url('../common/variable.less');

@imgURL: '../../images/products/common';

.top-header {
	position: absolute;
	width: 100%;
	z-index: 2;
}
.fp-tooltip {
	background-color: #54b9cd;
	padding: 5px;
	border-radius: 4px;
}
.header-nav {
	position: absolute;
	top: 30px;
	left: 0;
}
.section {
	font-size: 18px;
	h1 {
		font-size: 60px;
		margin: 0;
		margin-bottom: 15px;
	}
	.fixed-width {
		width: 1024px;
		margin: 0 auto;
	}
	p {
		line-height: 1.428;
		margin: 0 auto;
	}
}

/* section1 */
.section1-container {
	color: #fff;
	.fixed-width {
		background: url("@{imgURL}/bg_blue_1.png") 0 90px,
		url("@{imgURL}/bg_blue_2.png") center bottom;
		background-repeat: no-repeat;
		height: 100%;
	}
	.h1-wrapper {
		position: relative;
		padding-top: 390px;
		width: 1000px;
		font-size: 60px;
		margin: auto;
	}
	h1 {
		width: 100%;
		height: 0.8em;
		border: 1px solid currentColor;
		border-radius: 6px;
		text-align: center;
		position: relative;
		&:after {
			content: attr(data-title);
			position: absolute;
			width: 14.5em;
			left: 0;
			right: 0;
			top: -0.5em;
			margin: auto;
			background-color: rgb(92,171,228);
		}
	}
	p {
		padding-top: 40px;
		text-align: center;
	}
}

/* section2 */
.section2-container {
	color: #ac5a0e;

	.fixed-width {
		background: url("@{imgURL}/bg_orange_1.png") left center,
		url("@{imgURL}/bg_orange_2.png") right bottom,
		url("@{imgURL}/bg_orange_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #ac5a0e;
	}

	.erp-box {
		padding-top: 260px;
	}
}

/* section3 */
.section3-container {
	color: #b9b009;

	.fixed-width {
		background: url("@{imgURL}/bg_yellow_1.png") left center,
		url("@{imgURL}/bg_yellow_2.png") right bottom,
		url("@{imgURL}/bg_yellow_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #b9b009;
	}

	.erp-box {
		padding-top: 260px;
	}
}

/* section4 */
.section4-container {
	color: #009e99;

	.fixed-width {
		background: url("@{imgURL}/bg_s2_1.png") left center,
		url("@{imgURL}/bg_s2_2.png") right bottom,
		url("@{imgURL}/bg_s2_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #009e99;
	}

	.erp-box {
		padding-top: 230px;
	}
}

/* section5 */
.section5-container {
	color: #087d25;

	.fixed-width {
		background: url("@{imgURL}/bg_green_1.png") left center,
		url("@{imgURL}/bg_green_2.png") right bottom,
		url("@{imgURL}/bg_green_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #087d25;
	}

	.erp-box {
		padding-top: 140px;
	}
}

/* section6 */
.section6-container {
	color: #b84830;

	.fixed-width {
		background: url("@{imgURL}/bg_s4_1.png") left center,
		url("@{imgURL}/bg_s4_2.png") right bottom,
		url("@{imgURL}/bg_s4_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #b84830;
	}

	.erp-box {
		padding-top: 300px;
	}
}

/* section7 */
.section7-container {
	color: #8a58a1;

	.fixed-width {
		background: url("@{imgURL}/bg_s5_1.png") left center,
		url("@{imgURL}/bg_s5_2.png") right bottom,
		url("@{imgURL}/bg_s5_3.png") right 90px;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #8a58a1;
	}

	.erp-box {
		padding-top: 300px;
	}
}

/* section8 */
.section8-container {
	color: #815c0c;

	.fixed-width {
		background: url("@{imgURL}/bg_s1_1.png") left center,
		url("@{imgURL}/bg_s1_2.png") right bottom;
		background-repeat: no-repeat;
		height: 100%;
	}

	.list p:after {
		background-color: #815c0c;
	}

	.erp-box {
		padding-top: 300px;
	}
}

.erp-box {
	margin: 0 auto;

	.erp-col {
		float: left;
	}

	h1 {
		font-size: 40px;
		color: inherit;
	}

	.text {
		p {
			margin-top: 0.5em;
			text-indent:2em;
		}

		&.list {
			p {
				position: relative;
				padding-left: 18px;
				text-indent:0;

				&:after {
					position: absolute;
					left: 2px;
					top: 12px;
					display: block;
					content: '';
					width:6px;
					height: 6px;
					border-radius: 3px;
				}
			}
		}
	}

	.img {
		text-align: center;
		padding-top:30px;
	}
}

.erp-width-3 {
	padding: 20px;
	width: 30%;
}

.erp-width-7 {
	width: 70%;
}
