@charset "utf-8";
@import url('../common/variable.less');

@imgURL: '../../images/products/ewms';

.section1-container {
	.h1-wrapper {
		width: 10em;
	}
	h1 {
		&:after {
			width: 8.5em;
		}
	}
}
.section2-container {
	.fixed-width {
		background: url("@{imgURL}/pic_ewms_1.png") left center,
		url("@{imgURL}/pic_orange_4.png") center bottom,
		url("@{imgURL}/pic_orange_1.png") right 90px;
		background-repeat: no-repeat;
	}
	.content {
		padding-right: 0;
	}
}
.section3-container {
	.fixed-width {
		background: url("@{imgURL}/pic_ewms_2.png") right center,
		url("@{imgURL}/pic_yellow_4.png") right bottom,
		url("@{imgURL}/pic_yellow_1.png") left 90px;
		background-repeat: no-repeat;
	}
	.content {
		width: auto;
	}
}
.section4-container {
	.fixed-width {
		background: url("@{imgURL}/pic_ewms_3.png") left center,
		url("@{imgURL}/pic_cyanblue_1.png") right 90px;
		background-repeat: no-repeat;
	}
	h1 {
		width: 6em;
	}
}
.section5-container {
	.fixed-width {
		background: url("@{imgURL}/pic_green_1.png") left 90px,
		url("@{imgURL}/pic_ewms_4.png") right center;
		background-repeat: no-repeat;
	}
}