@charset "utf-8";
@import url('common/variable.less');

body {
	background: #f4f4f4;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 !important;
}

.solutions-wrap {
	margin: 0 auto;
	width: 100%;
	min-width: 1200px;
	padding-left: 260px;

	.sol-wrap-left {
		float: left;
		margin-left: -260px;
		width:260px;
	}

	.sol-wrap-main {
		float: left;
		width: 100%;
		min-width: 940px;
		background-color: #fff;
		border-left: 1px solid #ddd;

		.wrap-right {
			padding-top: 40px;
			padding-left:68px;
			width: 872px;
		}
	}
}

/*menu*/
.wrap-menu {
	margin-top: 40px;
	width:100%; 
}
.wrap-title {
	border-bottom: 1px solid #d7d7d7;
	padding: 10px 0 10px 46px;

	h4 {
		font-size: 14px;
		font-weight: 400;
		color: #999;
	}
}
.wrap-list .list-title {
	position:relative;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight: 400;
	color:#7d7d7d;
	cursor:default;
	background: url(../images/solutions/common/icon_1.png) no-repeat 95% -33px;

	&.current {
		background-color: #eaeaea;
		background-position: 95% 16px;
		color: #22a5e9;
	}
}
.wrap-list  .list-title h4 {
	display:inline-block;
	line-height:40px;
	padding-left:46px;
	font-size: 14px;
	font-weight: 400;
}
.wrap-list .icon  {
	position:absolute;
	display: block;
	left:10px; 
	top:0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: left;

	.iconfont {
		font-size: 1.4em;
	}
}
.wrap-list  > .list-box {
	display:none;
	padding:10px 5px 10px 46px;
	background:#f0f0f0;
}
.wrap-list  > .list-box a {
	display:block;
	padding:10px 0 10px 10px;
	background: url(../images/solutions/common/icon_2.png) no-repeat 0 18px;

	&.current {
		background-position: 0 -32px;
		color: #22a5e9;
	}
}

/* main */
.main-tabs {
	width: 872px;
	top: 0;
	background: #fff;
	z-index: 99;

	a {
		display: block;
		float: left;
		width: 145px;
		height: 56px;
		line-height: 56px;
		font-size: 18px;
		text-align: center;
		cursor: pointer;
		background: url(../images/solutions/common/bg_2.jpg) no-repeat center bottom;

		&.current {
			color: #00a0e8;
			background-image: url(../images/solutions/common/bg_1.jpg);
			cursor: default;
		}
	}
}

.target-fix {
  position: relative;
  top: -76px; // 偏移值
  display: block;
  height: 0;
  overflow: hidden;
}

.content-section {
	padding: 20px 0;
	width: 870px;

	.section-title {
		height: 11px;
		border-bottom: 1px solid #ccc;

		h1 {
			float: left;
			padding-right: 10px;
			height: 22px;
			font-size: 18px;
			font-weight: 400;
			background-color: #fff;

			i {
			display: inline-block;
			margin-right: 10px;
			width: 12px;
			height: 12px;
			border-radius: 6px;
			border: 1px solid #ccc;
		}
		}
	}

	&:target{
	    padding-top:44px;
	}
}

.section-content {
	padding: 30px 0 0;
	font-size: 14px;
	line-height: 1.8;

	p {
		text-indent: 2em;
		text-align: left;

		&.list {
			position: relative;
			padding-left: 30px;
			text-indent: 0;
			
			&:after {
				display: block;
				position: absolute;
				top: 10px;
				left: 19px;
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 2px;
				background: #7d7d7d;
			}
		}
	}

	p.bold {
		text-align: left;
		font-weight: 700;

		&.list {
			position: relative;
			padding-left: 11px;
			text-indent: 0;
			
			&:after {
				display: block;
				position: absolute;
				top: 10px;
				left: 0;
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 2px;
				background: #7d7d7d;
			}
		}
	}


	ul {
		margin: 0;
		padding: 10px 0 10px 38px;
		list-style: square;

		li {
			line-height: 24px;
		}
	}

	h4 {
		line-height: 30px;
		font-size: 14px;
		font-weight: 700;
	}
}
