@charset "utf-8";

@imgURL : '../images';

html {
	height: 100%;
	background: url("@{imgURL}/tuoling_bg.jpg") rgb(47,49,61); 
}
body {
	height: 100%;
	background-color: rgba(30,30,30,0.6); 
	overflow-y: hidden;
	position: relative;
}

.eco-system-container {
	background: url("@{imgURL}/tuoling_eco.png") center no-repeat;
	height: 100%;
	margin-top: -70px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
} 